<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading"> Let's Connect! </h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
        <ul class="contact-list">
          <p class="feed-subscribe">
            <a href="{{ 'feed.xml' | relative_url }}">
              <svg class="svg-icon orange">
                <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
              </svg><span>Subscribe</span>
            </a>
          </p>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <!-- <p>{{- site.description | escape -}}</p> -->
        <p style="text-align: justify"> 
          I built this free website with GitHub Pages. If you'd like to build a website of your own, 
          check out my blog post, fork my <a href="https://github.com/joaquin-castillo/joaquin-castillo.github.io">repository</a>, 
          or read the <a href="https://docs.github.com/en/pages/quickstart">quickstart guide</a>. 
        </p>
      </div>
    </div>

  </div>

</footer>
