---
layout: default
---

<div class="home_v2">

  <div class="home-col-wrapper">
    <div class="home-col home-col-1">
      {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
      {%- endif -%}

      {{ content }}

    </div>

    <div class="home-col home-col-2">
      <p style="text-align: center">
        <img src="{{ '/assets/joaquin_headshot.jpg' | relative_url }}" alt="joaquin_headshot" style="max-width:300px; width:100%">
      </p>
    </div>

  </div>

</div>
